mod01/mod1lab7/src/wsdl/MPPolizaService01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MPPolizaService01" targetNamespace="http://mod1lab7.javaarq.cibertec.edu.pe/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mod1lab7.javaarq.cibertec.edu.pe/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://mod1lab7.javaarq.cibertec.edu.pe/" version="1.0" xmlns:tns="http://mod1lab7.javaarq.cibertec.edu.pe/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="consultarPoliza" type="tns:consultarPoliza"/>
<xs:element name="consultarPolizaResponse" type="tns:consultarPolizaResponse"/>
<xs:element name="crearPoliza" type="tns:crearPoliza"/>
<xs:element name="crearPolizaResponse" type="tns:crearPolizaResponse"/>
<xs:complexType name="crearPoliza">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long"/>
      <xs:element minOccurs="0" name="arg1" type="xs:long"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arg4" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="crearPolizaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="consultarPoliza">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="consultarPolizaResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="consultarPolizaResponse">
    <wsdl:part element="tns:consultarPolizaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="crearPolizaResponse">
    <wsdl:part element="tns:crearPolizaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPoliza">
    <wsdl:part element="tns:consultarPoliza" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="crearPoliza">
    <wsdl:part element="tns:crearPoliza" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MPPolizaService01">
    <wsdl:operation name="crearPoliza">
      <wsdl:input message="tns:crearPoliza" name="crearPoliza">
    </wsdl:input>
      <wsdl:output message="tns:crearPolizaResponse" name="crearPolizaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarPoliza">
      <wsdl:input message="tns:consultarPoliza" name="consultarPoliza">
    </wsdl:input>
      <wsdl:output message="tns:consultarPolizaResponse" name="consultarPolizaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MPPolizaService01SoapBinding" type="tns:MPPolizaService01">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="crearPoliza">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="crearPoliza">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="crearPolizaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarPoliza">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultarPoliza">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultarPolizaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MPPolizaService01">
    <wsdl:port binding="tns:MPPolizaService01SoapBinding" name="MPPolizaService01Port">
      <soap:address location="http://localhost:8080/mod1lab7/MPPolizaService01"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>