mod01/mod1lab5/mod1lab5-front/src/wsdl/localhost_8080/mod1lab5-service/LoginService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="LoginService" targetNamespace="http://javaarq.cibertec.edu.pe/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://javaarq.cibertec.edu.pe/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://javaarq.cibertec.edu.pe/" version="1.0" xmlns:tns="http://javaarq.cibertec.edu.pe/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="authenticate" type="tns:authenticate"/>
<xs:element name="authenticateResponse" type="tns:authenticateResponse"/>
<xs:complexType name="authenticate">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="authenticateResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="authenticateResponse">
    <wsdl:part element="tns:authenticateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="authenticate">
    <wsdl:part element="tns:authenticate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LoginService">
    <wsdl:operation name="authenticate">
      <wsdl:input message="tns:authenticate" name="authenticate">
    </wsdl:input>
      <wsdl:output message="tns:authenticateResponse" name="authenticateResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginServiceSoapBinding" type="tns:LoginService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="authenticate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="authenticate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="authenticateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginService">
    <wsdl:port binding="tns:LoginServiceSoapBinding" name="LoginServicePort">
      <soap:address location="http://localhost:8080/mod1lab5-service/LoginService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>